PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=dataly

JWT_SECRET=change-me
JWT_EXPIRES_IN=7d

INIT_USER_NAME=Admin
INIT_USER_EMAIL=admin@example.com
INIT_USER_PASSWORD=changeme123

PROXY_URL=http://user:pass@host:port

AMO_UTM_CAMPAIGN=UTM_CAMPAIGN
AMO_UTM_ADSET=UTM_CONTENT
AMO_UTM_AD=UTM_SOURCE
